#body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#header-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	//font-family: monospace;
}

#terminal {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.terminal-image {
	position: absolute;
	left:5%;
	top: 50%;
	transform: translateY(-50%);
	//border: 1px dashed deeppink;
}

.terminal-image2 {
	position: absolute;
	right:5%;
	top: 50%;
	transform: translateY(-50%);
	//border: 1px dashed deeppink;
}

hr{
	height:2px;
	padding:0px;
	margin:0px;
}

.btn{
	margin-right:10px;
}
