#body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#header-bar {
	position: absolute;
	top: 0;
	left: 0;
/* 	width: 100%; */
	overflow: hidden;
/* 	font-family: monospace; */
}

#terminal {
	top: 0;
	left: 0;
	width: 100vw;
/* 	height: auto; */
/*  	max-height: 80%;  */
	overflow: auto;
}

.terminal-image {
	position: absolute;
	left:5%;
	top: 50%;
	transform: translateY(-50%);
/* 	border: 1px dashed deeppink; */
}

.terminal-image2 {
	position: absolute;
	right:5%;
	top: 50%;
	transform: translateY(-50%);
	//border: 1px dashed deeppink;
}

hr.style1 {
	height:2px;
	padding:0px;
	margin:0px;
}

textarea {
	height: 10vh;
}

#rowMenu {
	margin-left: 0px;
	margin-right: 0px;
}

.btn {
	margin-right:10px;
}

.label {
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  color: #FFF
}

.label.label-pill,
.label.label-rounded {
  border-radius: 99999px
}

.label.label-square {
  border-radius: 0
}

.label.label-secondary {
  background-color: #323a45;
  color: #FFF
}

.label.label-outlined {
  border-width: 1px;
  border-style: solid;
  background-color: transparent
}

.label.label-outlined.label-secondary {
  border-color: #323a45;
  color: #323a45
}

